<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
        <link rel='stylesheet' href='/webjars/bootstrap/3.3.4/css/bootstrap.min.css'/>
        <script src="/webjars/jquery/2.1.4/jquery.min.js" type="javascript"></script>
    </head>
    <body>
        <h1>Welcome!</h1>
<div>
        <p>Click <a th:href="@{/dictionary}">here</a> to manage dictionary.</p>
        <p>Click <a th:href="@{/users}">Here</a> to manage users</p>
        <p><a th:href="@{/logout}">Logout</a></p>
</div>
    </body>
</html>