<!DOCTYPE html>
<html ng-app="commonApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.4/css/bootstrap.min.css'></link>
    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.4.8/angular.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript" src="/js/apps.js"></script>
    
    <!-- 
    <script type="text/javascript" src="/modules/userModule.js"></script>
    <script type="text/javascript" src="/modules/user/js/controllers.js"></script>
    <script type="text/javascript" src="/modules/user/js/directives.js"></script>
     -->
</head>
<body ng-controller="common.dictionary.controllers">

<p>Nothing here {{'yet' + '!'}}</p>

<div>
    <h1>Dictionary!</h1>
    
    <table>
    <tr>
    	<th>Code</th>
    	<th>Category</th>
    	<th>Value</th>
    	<th>Action</th>
    </tr>
    <tr ng-repeat="item in items">
        <td>{{item.code}}</td>
        <td>{{item.category}}</td>
        <td>{{item.value}}</td>
        <td><a href="">Edit</a></td>
    </tr>
    </table>
</div>
</body>
</html>